{% extends 'layout.html' %}
{% block titile %}
    About Us
{% endblock %}
{% block content %}
    <div class="container mt-5 text-center">
        <p class="h1">درباره ی ما</p>
        <p class="h6">این وبسایت جایی برای معرفی مجموعه کتاب های زیبا و نستعلیق بنویسیم است.</p>
        <hr>
        <p class="h4">برای سفارش: </p>
        <p class="h6">09220015930</p>
    <hr class="border-white">
        <p class="h۶ text-white-50">برای گزارش مشکلات سایت:</p>
        <p class="h6 text-white-50">toutounchi.ma@gmail.com</p>

    </div>
{% endblock %}

