{% extends 'layout.html' %}
{% block titile %}
    سفارش
{% endblock %}
{% block content %}
    <div class="container text-center">
    <p class="h1 text-center">سفارش</p>
    <hr>
    <p class="text-white-50">
        برای سفارش می توانید با شماره تلفن زیر تماس بگیرید
    </p>
    <a href="tel:09220015930">
        <button type="button" class="btn btn-primary">
      Phone: <span class="badge badge-light">09220015930</span>
    <span class="sr-only">unread messages</span>
    </button>
    </a>
    </div>
{% endblock %}



